/* FONTS 
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/

* {
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
ul, a {
    list-style-type: none;
    text-decoration: none;
    color:black;
}

a:hover{
    color:orange ;
}
header {
    border:1px solid black;
}

#logo{
    height:200px;
    margin: 25px;
    width:500px;
}

/*SIDE, TOP & BOTTOM NAVIGATION*/
#top_nav, ul#top_nav, ul#top_nav li{
    margin:25px;
    display: flex;
    flex-direction: row;
    padding:10px 100px;
    margin:auto;
    display:center;
}

#side_nav,ul#side_nav li, nav#side_nav{
    padding:25px;
    width:15vw;
    display:center;
    margin-left:30px;
    border:1px solid black;
}

#bottom_nav, ul#bottom_nav, #bottom_nav ul#bottom_nav li{
    width:100%;
    margin:25px;
    display: flex;
    flex-direction: row;
    padding:10px 15px;
    margin:auto;
    display:center;
}

li.bottom_nav{

    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}
p {
    width:40vw;
    height:400px;
    border:1px solid black;
    float:right;
    display: inline;
    margin:25px 25px 25px 25px;

}
#article1 img{
    height:400px;
    width:600px;
    float: right;
    margin:25px;

}

nav#nav_side{
    width:20vw;
    border:1px solid black;
    float:left;
}

section#content{
    float:right;
}
section#content #article2 p {
    height:300px;
    width:400px;
    margin:25px;
    width:20vw;
    float:left
    
}

