/* FONTS 
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/

* {
    margin:0px;
    font-family: 'Roboto', sans-serif;
    background-color: #47555E;
    color:white;
}
ul, a {
    list-style-type: none;
    text-decoration: none;
    color:black;
}

a:hover{
    color:orange;
}


header {
    border:1px solid black;
}

#logo{
    height:200px;
    width:200px;
    margin: 25px;
}

/*SIDE, TOP & BOTTOM NAVIGATION*/
#top_nav, ul#top_nav, ul#top_nav li{
    margin:25px;
    display: flex;
    flex-direction: row;
    padding:10px 100px;
    margin:auto;
    display:center;
}

#side_nav,ul#side_nav li, nav#side_nav{
    padding:25px;
    width:15vw;
    display:center;
    margin-left:30px;
    border:0.5px solid black;
}
ul#side_nav{
    border:0px solid black;
    margin:0px;
    width:5vw;
}
ul#side_nav li{
    list-style: none;
    padding:25px;
    width:13vw;
    display:center;
    margin-left:30px;
    border:1px solid black;
}

li:hover{
    color:orange
}


#bottom_nav, ul#bottom_nav, #bottom_nav ul#bottom_nav li{
    width:100%;
    margin:25px;
    display: flex;
    flex-direction: row;
    padding:10px 15px;
    margin:auto;
    display:center;
}

li.bottom_nav{

    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}
p {
    width:40vw;
    height:300px;
    float:right;
    display: inline;
    margin:0px 25px 25px 25px;
    padding-top:25px;
    letter-spacing: 2px;
    text-align: justify;

}
article img{
    height:400px;
    width:600px;
    float: right;
    margin:25px;

}

nav#nav_side{
    width:20vw;
    float:left;
}

section#content{
    float:right;
}

#css3,#js6 {
    padding-top:60px;
    float: left;
}
#js6{
    height:550px;

}
p.js6{
    height:600px;
}

h1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    font-size: 50px;
    margin:50px 0px;
}
span{
    font-size: 25px;
    font-weight:600;
    font-family: 'Oswald', sans-serif;
}

ul#side_nav li a {
    font-size: 20px;;
}
